body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
}
* , *:before,*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}
/*
========================================= Container =========================================
*/
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px;
}
/*
========================================= Header =========================================
*/
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Js class "fixed */
.header.fixed{
    position: fixed;
    background-color: #31344e;
    height: auto;
}
.header.fixed .header__inner{
    padding: 15px 0;
    border-bottom: 0;
}
/**/

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0px;
    border-bottom: 1px solid #515369;
}

.img__logo{
    cursor: pointer;
}
/*
========================================= NAV =========================================
*/
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover{
    opacity: 1;
}

/*
========================================= intro =========================================
*/
.intro{
    height: 750px;
    background: #31344e url("img/bg_image.jpg") center no-repeat;
    background-size: cover;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro__title{
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    font-weight: bold;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
.intro__inner{
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.intro__subtitle{
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 60px;
}

/*
========================================= button =========================================
*/
.btn{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 14px 40px;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
    border: none;
}
.btn--red{
    background-color: #e84545;
}
.btn--red:hover{
    background-color: #db3030;
    transition: background-color .1s linear;
}

/*
========================================= features =========================================
*/
.features{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    margin: 100px 0;
}
.features__item{
    width: 33%;
    text-align: center;
    padding: 0 20px;
    margin: 25px 0;
}
.features__icon{
    margin-bottom: 20px;
}
.features__title{
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.features__text{
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/*
========================================= works =========================================
*/
.works{
    display: flex;
    flex-wrap: wrap;
}
.works__item{
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
.works__photo{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left:50%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.works__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0.0 -1.0;
    background-color: rgba(232,69,69,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    text-align: center;
    color: white;
    opacity: 0;
}
.works__content:hover{
    opacity: 1;
    transition: opacity .2s linear;  
}
.works__title{
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.works__text{
    font-size: 14px;
    color: white;
    margin-bottom: 5px;
}

/*
========================================= team =========================================
*/
.team{
    margin: 100px 0;
}
.team__inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.team__item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team__photo{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.team__name{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 8px;
    color: #2d3033;
}
.team__prof{
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.team__text{
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
    margin-bottom: 15px;
}

/*
========================================= social =========================================
*/
.social{
    display: flex;
}
.social__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    background-color: white;
    transition: background .2s;
}
.social__item:hover{
    background-color: #e8ecee;
}
.social__item:hover .social__icon{
    fill: #e84545;
}
.social__icon{
    display: block;
    fill: #c6cacc;
    height: 18px;
}

/*
========================================= reviews =========================================
*/
.reviews{
    background-color: #53354a;
    overflow: hidden;
}
.reviews .container{
    padding: 0;
}
/*.slick__item{
    width: 100%;
}*/
.reviews__slider{
    height: 500px;
    overflow: hidden;
}
.reviews__slider.slick-initialized{
    height: auto;
}
.reviews__item{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.reviews__photo{
    width: 50%;
    height: 500px;
    position: relative;
}
.reviews_img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 1;
}
.reviews__content{
    width: 50%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reviews__text{
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}
.reviews__author{
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.slick-dots{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    bottom: 1%;
    right: 0;
    z-index: 2;
    width: 50%;
    display: flex;
    justify-content: center;
}
.slick-dots li{
    opacity: 0.5;
}
.slick-dots button{
    background: #fff;
    border-radius: 50%;
    border: 0;
    padding: 0;
    font-size: 0;
    color: transparent;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}
.slick-dots .slick-active{
    opacity: 1;
}

/*
========================================= download =========================================
*/
.download{
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.download__title{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 28px;
    color: #2d3033;
    margin-bottom: 20px;
}
.download__text{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #2d3033;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.download__button{
    margin: 0;
    border: 0;
    border-radius: 3px;
    background-color: #e84545;
    padding: 20px 80px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .2s;
    text-decoration: none;
}
.download__button:hover{
    background-color: #db3030;
}

/*
========================================= footer =========================================
*/
.footer{
    background-color: #3a3e64;
    color: white;
}
.footer__inner{
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}
.footer__block{
    width: 33%;
    text-align: center;
}
.footer__title{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.footer__text{
    color: rgba(255, 255, 255, .5);
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;
}
.footer__text p{
    margin: 0;
}
.social--footer{
    justify-content: center;
}
.social--footer .social__item{
    background: none;
    border-width: 2px;
    border-color: white;
    border-radius: 2px;
    transition: background .2s;
}
.social--footer .social__item:hover{
    background-color: #fff;
}
.social--footer .social__icon{
    fill: #fff;
}

/*
========================================= copyright =========================================
*/
.copyright{
    background-color: #313454;
    padding: 20px 0;
}
.copyright__text{
    text-align: center;
    font-size: 14px;
    color: #808080;
    line-height: 1.5;
}
.copyright__text span{
    color: #fff;
}
.copyright__icon{
    height: 13px;
    width: 20px;
}

/*
========================================= burger =========================================
*/
.burger{
    display: none;
    cursor: pointer;
}
.burger__item{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    font-size: 0;
    color: transparent;
    position: relative;
}
.burger__item:before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    z-index: 1;
}
.burger__item:before{
    top: -8px;
}
.burger__item:after{
    bottom: -8px;
}


/*==============================================================================
========================================= Media =========================================
==============================================================================*/
@media (max-width: 1300px){
   /* Works */
    .works__item{
        width: 50%;
    }

}

@media (max-width: 990px){
    /* Nav */
    .nav{
        display: none;
        position: absolute;
        right: 0;
        top: 99%;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background-color: #31344e;
    }
    .nav.show{
        display: flex;
    }
    .nav__link{
        padding: 7px 15px;
    }

    /* burger */
    .burger{
        display: block;
    }
    
    /* Intro */
    .intro__title{
        font-size: 40px;
    }
    .intro__subtitle{
        font-size: 20px;
    }

    /* Features */
    .features__item{
        width: 50%;
    }

    /* Team */
    .team__item{
        width: 50%;
        text-align: center;
    }
    .team__photo{
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Social */
    .social{
        justify-content: center;
    }

    /* Reviews */
    .reviews__photo{
        width: 100%;
        overflow: hidden;
    }
    .reviews__content{
        width: 100%;
        padding: 5px;
        text-align: center;
    }
    .reviews_img{
        min-width: 100%;
        min-height: 100%;
    }
}

@media (max-width: 765px){
    /* intro */
    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro__title{
        font-size: 30px;
    }
    .intro__subtitle{
        font-size: 16px;
        margin-bottom: 30px;
    }

    /* Features */
    .features{
        margin: 40px 0;
    }
    .features__item{
        width: 100%;
        padding: 0;
    }

    /* Works */
    .works__item{
        width: 100%;
        height: 300px;
    }

     /* Team */
    .team{
        margin: 60px 0 30px 0;
    }
    .team__item{
        width: 100%;
    }

    /* Reviews */
    .reviews__text{
        font-size: 25px;
    }

    /* button */
    .download__button{
        min-width: 260px;
    }

    /* download */
    .download{
        margin: 50px 0;
    }
    .download__title{
        font-size: 24px;
    }
    .download__text{
        font-size: 13px;
        margin-bottom: 30px;
    }

    /* footer */
    .footer__inner{
        padding: 30px;
    }
    .footer__block{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;
    }
    .footer__block:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 500px){
    /* reviews */
    .reviews_img{
        right: -150px;
    }
}